/* GFXlab Global Styles */

html,
body {
  height: 100%;
  margin: 0;
  background: #0b0f19;
  color: white;
}

/* =========================
   GFXlab Built-in Fonts
   ========================= */

@font-face {
  font-family: "Anton";
  src: url("/fonts/Anton-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
  
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Alphasmoke";
  src: url("/fonts/Alphasmoke-OOX6.ttf") format("truetype");
}